<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>Enter 2 numbers: </p>
        <input type="number" v-model="firstNum"><label>First Number</label>
        <input type="number" v-model="secondNum"><label>Second Number</label>
        <p>Here is the product of 2 numbers: {{prod}} </p>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    firstNum: 0,
                    secondNum: 0
                }
            },
            computed: {
                prod() {
                    return this.firstNum * this.secondNum;
                }
            },
            methods: {

            }
        });
        app.mount('#app');
    </script>
</body>
</html>